* {
    padding: 0;
    margin: 0;
    border: 0;
}

#page-content {
    margin-left: 5rem;
}

#backest {
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

#common-area {
    display: flex;
    flex-direction: row;
    height: 18vh;
    background-color: green;
}

.common-option{
    width: 200px;
    background-color: blue;
    margin: auto;
    height: 50px;
    margin-left: min(10%, 15px);
    margin-right: min(10%, 15px);
}

#model-settings {
    background-color: red;
    display: flex;
    flex-direction: row;
    height: 82vh;
    overflow: auto;
}

#option-area {
    background-color: green;
    display: flex;
    margin: 2%;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 700px) {
    #model-settings{
        flex-direction: column-reverse;
        display: flex;
        height: auto;
    }
    #common-area{
        flex-direction: column;
        margin: auto;
    }
    .common-option{
        width: 70%;
        background-color: blue;
        margin: auto;
        height: 4vh;
        margin-top: min(10%, 7px);
        margin-top: min(10%, 7px);
    }
}

#strat-options-container{
    display: flex;
    flex-direction: column;
    height: 80%;
    background-color: orange;
    flex: 8;
}

#add-new {
    width: 100%;
    flex: 2;
    background-color: purple;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.strat-button{
    flex: 1;
    margin: 15px;
    margin-top: min(10%, 15px);
    margin-bottom: min(10%, 15px);
    background-color: red;
}



#graph-area {
    background-color: blue;
    display: inline-block;
    flex: 2;
    margin: 2%;
    height: max(auto, 600px);
}

#graph {
    height: 600px;
}

.option-box {
    display: flex;
    margin: auto;
    width: 80%;
    height: 70px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: blue;
    /*flex: 1;
    gap: 10px;*/
}





.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
    width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
*  * the sidebar is collapsed.
*   */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

